
body{background-color:#ddf3f5;}

hr{

  border-style:none;
  border-top-style: dotted;
  border-top-color: grey;
  border-top-width: 5px;
  height: 0px;
  width: 5%;
}
img{
height: 200px;

}
h3,h1{
  color: #66bfbf;
}
